* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 1.9rem;
  font-weight: 200;
  background-color: #fafafa;
  position: relative;
}

h1 {
  font-size: 4rem;
  color: $veryDarkDesaturatedViolet;
}

p {
  color: $darkGrayishViolet;
}
