// Colors
// (sub-heading at the top of the app UI)
$paleViolet: hsl(276, 100%, 81%);

// (chat on the left)
$moderateViolet: hsl(276, 55%, 52%);

// (chat on the right)
$desaturatedDarkViolet: hsl(271, 15%, 43%);

// (placeholder text)
$grayishBlue: hsl(206, 6%, 79%);

// (main heading)
$veryDarkDesaturatedViolet: hsl(271, 36%, 24%);

// (paragraph)
$darkGrayishViolet: hsl(270, 7%, 64%);

// Gradients
$lightMagenta: hsl(293, 100%, 63%);
$lightViolet: hsl(264, 100%, 61%);

// Secondary

$white: hsl(0, 0%, 100%);
// (app background)
$lightGrayishViolet: hsl(270, 20%, 96%);
// (submit button background)
$veryDarkDesaturatedViolet: hsl(271, 36%, 24%);
// (radio button outline)
$veryLightMagenta: hsl(289, 100%, 72%);
