* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 1.8rem;
  background-color: #fafafa;
}

h1 {
  font-size: 4rem;
  color: #3e2753;
}

p {
  color: #a39daa;
}

.container {
  max-width: 144rem;
  margin: 0 auto;
}

.parent {
  margin-top: 15rem;
}

.mobile-outline {
  width: 25rem;
  height: 50rem;
  background-color: white;
  border-radius: 4rem;
}

.mobile {
  width: 22.5rem;
  height: 48.5rem;
  font-size: 1rem;
  background-color: #f5f3f7;
  margin: 0 auto;
  border-radius: 2rem;
}

.contact {
  background: -webkit-gradient(linear, left top, right top, from(#8838ff), to(#e942ff));
  background: linear-gradient(to right, #8838ff, #e942ff);
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  position: relative;
}

.contact__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3rem 0 1rem;
}

.contact::after {
  content: "";
  position: absolute;
  width: 13rem;
  height: 3rem;
  top: -1.5rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: white;
  border-radius: 100px;
}

.contact__left {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__left img {
  width: 2.5rem;
  border: 1px solid white;
  border-radius: 50px;
  margin-right: 0.5rem;
}

.contact__left .greater {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

.contact__left .contact-text h2 {
  font-weight: 500;
}

.contact__left .contact-text p {
  color: #d89eff;
}

.dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dots span {
  width: 3px;
  height: 3px;
  background: white;
  margin-bottom: 2px;
}

.chat {
  font-size: 0.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
}

.chat__left p {
  color: #9241c8;
  background: #f3ecf8;
  max-width: 12rem;
  padding: 1rem;
  border-radius: 1rem;
  border-bottom-left-radius: 0.5rem;
  margin-bottom: 1rem;
}

.chat__right {
  -ms-flex-item-align: end;
      align-self: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.chat__right figure {
  margin-bottom: 1rem;
}

.chat__right img {
  width: 4rem;
  border-radius: 1rem;
  margin-right: 0.5rem;
}

.chat__right p {
  color: #6e5d7e;
  background: white;
  max-width: 12rem;
  padding: 1rem;
  border-radius: 1rem;
  border-bottom-right-radius: 0.5rem;
  margin-bottom: 1rem;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.chat__left--cta {
  background: -webkit-gradient(linear, left top, right top, from(#e942ff), to(#8838ff));
  background: linear-gradient(to right, #e942ff, #8838ff);
  max-width: 16rem;
}

.chat__left--cta a {
  text-decoration: none;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
}

.chat__left--cta .time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.chat__left--cta .circle {
  border: 1px solid white;
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
  display: inline-block;
  margin-right: 1rem;
}

.chat__left--cta p {
  color: white;
  display: inline-block;
}
/*# sourceMappingURL=style.css.map */