@import "variable";
@import "mixin";
@import "global";

.container {
  max-width: 144rem;
  margin: 0 auto;
}

.parent {
  margin-top: 15rem;
}

.mobile-outline {
  width: 25rem;
  height: 50rem;
  background-color: $white;
  border-radius: 4rem;
  //   padding: 1rem 0;
}

.mobile {
  width: 22.5rem;
  height: 48.5rem;
  font-size: 1rem;
  background-color: $lightGrayishViolet;
  margin: 0 auto;
  border-radius: 2rem;
}

.contact {
  background: linear-gradient(to right, $lightViolet, $lightMagenta);
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  //   margin-bottom: 1rem;
  position: relative;

  &__container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3rem 0 1rem;
  }

  &::after {
    content: "";
    position: absolute;
    width: 13rem;
    height: 3rem;
    top: -1.5rem;
    left: 50%;
    transform: translateX(-50%);
    background: $white;
    border-radius: 100px;
  }
}

.contact__left {
  color: $white;
  display: flex;
  justify-content: space-around;
  align-items: center;

  img {
    width: 2.5rem;
    border: 1px solid white;
    border-radius: 50px;
    margin-right: 0.5rem;
  }

  .greater {
    font-size: 1.5rem;
    margin-right: 0.5rem;
  }

  .contact-text {
    h2 {
      font-weight: 500;
    }
    p {
      color: $paleViolet;
    }
  }
}

.dots {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  span {
    width: 3px;
    height: 3px;
    background: $white;
    margin-bottom: 2px;
  }
}

.chat {
  font-size: 0.7rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;

  &__left {
    p {
      color: $moderateViolet;
      background: hsl(272, 48%, 95%);
      max-width: 12rem;
      padding: 1rem;
      border-radius: 1rem;
      border-bottom-left-radius: 0.5rem;
      margin-bottom: 1rem;
    }
  }

  &__right {
    align-self: flex-end;
    display: flex;
    flex-direction: column;

    figure {
      margin-bottom: 1rem;
    }

    img {
      width: 4rem;
      border-radius: 1rem;
      margin-right: 0.5rem;
    }

    p {
      color: $desaturatedDarkViolet;
      background: $white;
      max-width: 12rem;
      padding: 1rem;
      border-radius: 1rem;
      border-bottom-right-radius: 0.5rem;
      margin-bottom: 1rem;
      align-self: flex-end;
    }
  }

  &__left--cta {
    background: linear-gradient(to right, $lightMagenta, $lightViolet);
    max-width: 16rem;

    a {
      text-decoration: none;
      color: $white;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem;
    }

    .time {
      display: flex;
      align-items: center;
      justify-content: space-around;
    }

    .circle {
      border: 1px solid $white;
      width: 1rem;
      height: 1rem;
      border-radius: 100%;
      display: inline-block;
      margin-right: 1rem;
    }

    p {
      color: white;
      display: inline-block;
    }
  }
}
